<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header"/>

<body>
<div class="page-top" style="width: 100%; height: 20px; background-color: #f46b42;"></div>
<!-- Static navbar -->
<div th:replace="common/header :: navbar"/>

<div class="container">
    <div class="row">
        <div class="col-8">
            <h2 class="section-headline"><span th:text="${#strings.toUpperCase(user.username)}"></span></h2>
        </div>
        <div class="col-4">
            <img src="/image/logo.png" class="img-fluid"/>
        </div>
        <hr style="width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -10%;"/>
    </div>

    <img src="/image/wood.png" class="img-fluid" style="margin-top: -5%;"/>

    <div style="margin-top: 10px;">
        <form th:action="@{/checkout}" method="post">

            <div class="form-row">
                <!--Left Panel-->
                <div class="form-group col-4">
                    <div class="card">
                        <div class="card-body">
                            <button type="submit" class="btn btn-warning btn-block">Đơn hàng của bạn</button>
                            <p style="font-size: smaller;">Bằng cách đặt hàng của bạn, bạn đồng ý với Royal Book Store <a href="#">riêng tư</a>
                                thông báo và<a href="#">điều kiện</a> của người dùng</p>
                            <hr/>
                            <h3>Đơn hàng</h3>
                            <div class="row">
                                <div class="col-7 text-left">
                                    Tổng tiền trước thuế:
                                </div>
                                <div class="col-5 text-right">
                                    VNĐ<span th:text="${shoppingCart.grandTotal}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-7 text-left">
                                    Thuế ước tính:
                                </div>
                                <div class="col-5 text-right">
                                    VNĐ<span th:with="total=${shoppingCart.grandTotal*0.075}"
                                           th:text="${#numbers.formatDecimal(total, 0, 2)}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-7 text-left">
                                    <h3 style="color: darkred;"><strong>Order Total: </strong></h3>
                                </div>
                                <div class="col-5 text-right">
                                    <h3><strong style="color: darkred;">$<span
                                            th:with="total=${shoppingCart.grandTotal+shoppingCart.grandTotal*0.075}"
                                            th:text="${#numbers.formatDecimal(total, 0, 2)}"></span></strong></h3>
                                </div>
                            </div>
                            <div class="card-footer">Vận chuyển và xử lý chưa được áp dụng.</div>
                        </div>
                    </div>
                </div>

                <!--Checkout Info -->
                <div class="form-group col-8">
                    <div th:if=${missingRequiredField}>
                        <h5 class="alert alert-warning">Có một số trường bị thiếu. Trường có dấu * là bắt buộc.</h5>
                    </div>

                    <div class="panel-group" id="accordion">

                        <!--1. Shipping Address-->
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#shippingInfo">
                                        1. Địa chỉ giao hàng
                                    </a>
                                </h4>
                            </div>
                            <div id="shippingInfo" class="collapse" th:classappend="${classActiveShipping}? 'show'">
                                <div class="card-body">
                                    <table class="table" th:if="${not emptyShippingList}">
                                        <thead>
                                        <tr>
                                            <th>Địa chỉ giao hàng có sẵn</th>
                                            <th>Hoạt động</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="userShipping : ${userShippingList}">
                                            <td th:text="${userShipping.userShippingStreet1}+', '+${userShipping.userShippingStreet2}
                                        +', '+${userShipping.userShippingCity}+', '+${userShipping.userShippingState}"></td>
                                            <td>
                                                <a th:href="@{/setShippingAddress(userShippingId=${userShipping.id})}">sử dụng
                                                     điều này
                                                     Địa chỉ</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <div class="form-group">
                                        <label for="shippingName">* Tên</label>
                                        <input type="text" class="form-control" id="shippingName"
                                               placeholder="Tên người nhận"
                                               name="shippingAddressName"
                                               th:value="${shippingAddress.shippingAddressName}"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="shippingStreet">* Địa chỉ</label>
                                        <input type="text" class="form-control" id="shippingStreet"
                                               placeholder="Số nhà"
                                               name="shippingAddressStreet1"
                                               th:value="${shippingAddress.shippingAddressStreet1}"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Đường"
                                               name="shippingAddressStreet2"
                                               th:value="${shippingAddress.shippingAddressStreet2}"/>
                                    </div>

                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="shippingCity">* Thành Phố</label>
                                                <input type="text" class="form-control" id="shippingCity"
                                                       placeholder="Thành phố" th:name="shippingAddressCity"
                                                       required="required"
                                                       th:value="${shippingAddress.shippingAddressCity}"/>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="shippingState">* Tỉnh</label>
                                                <select id="shippingState" class="form-control"
                                                        th:name="shippingAddressState"
                                                        th:value="${shippingAddress.shippingAddressState}"
                                                        required="required">
                                                    <option value="" disabled="disabled">Vui lòng chọn 1 lựa chọn
                                                    </option>
                                                    <option th:each="state : ${stateList}" th:text="${state}"
                                                            th:selected="(${shippingAddress.shippingAddressState}==${state})"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="shippingZipcode">* Mã vùng</label>
                                                <input type="text" class="form-control" id="shippingZipcode"
                                                       placeholder="Mã vùng" th:name="shippingAddressZipcode"
                                                       required="required"
                                                       th:value="${shippingAddress.shippingAddressZipcode}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#accordion"
                                       class="btn btn-warning float-right" href="#paymentInfo">Tiếp</a>
                                </div>
                            </div>
                        </div>

                        <!--2. Payment Information-->
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#paymentInfo">
                                        2. Thông tin thanh toán
                                    </a>
                                </h4>
                            </div>

                            <div id="paymentInfo" class="collapse" th:classappend="${classActivePayment}? 'show'">
                                <div class="card-body">
                                    <table class="table" th:if="${not emptyPaymentList}">
                                        <thead>
                                        <tr>
                                            <th>Thẻ tín dụng khả dụng</th>
                                            <th>Hoạt động</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="userPayment : ${userPaymentList}">
                                            <td th:text="${userPayment.cardName}"></td>
                                            <td>
                                                <a th:href="@{/setPaymentMethod(userPaymentId=${userPayment.id})}">sử dụng
                                                     điều này
                                                     thanh toán</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <!--Credit Card Information-->
                                    <div class="row">
                                        <div class="col-12">
                                            <img th:src="@{/image/creditCard.png}" class="img-fluid"/><br/>
                                            <div class="form-group">
                                                <label for="cardType">* Chọn kiểu thẻ: </label>
                                                <select class="form-control" id="cardType" name="type"
                                                        th:value="${payment.type}">
                                                    <option value="visa">Visa</option>
                                                    <option value="mastercard">Mastercard</option>
                                                    <option value="discover">Discover</option>
                                                    <option value="amex">American Express</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="cardHolder">* Tên chủ thẻ:</label>
                                                <input type="text" class="form-control" id="cardHolder"
                                                       required="required" placeholder="Chủ thẻ"
                                                       th:name="holderName" th:value="${payment.holderName}"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="cardNumber">* Số thẻ:</label>
                                                <div class="input-group">
                                                    <input type="tel" class="form-control" id="cardNumber"
                                                           required="required" placeHolder="Số thẻ"
                                                           th:name="cardNumber" th:value="${payment.cardNumber}" />
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-7">
                                            <div class="form-group">
                                                <label>* Ngày hết hạn</label>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <select class="form-control" name="expiryMonth"
                                                                required="required"
                                                                th:value="${payment.expiryMonth}">
                                                             <option disabled="disabled">-- Tháng --</option>
                                                                <option value="01">Tháng 1(01)</option>
                                                                <option value="02">Tháng 2(02)</option>
                                                                <option value="03">Tháng 3(03)</option>
                                                                <option value="04">Tháng 4(04)</option>
                                                                <option value="05">Tháng 5(05)</option>
                                                                <option value="06">Tháng 6(06)</option>
                                                                <option value="07">Tháng 7(07)</option>
                                                                <option value="08">Tháng 8(08)</option>
                                                                <option value="09">Tháng 9(09)</option>
                                                                <option value="10">Tháng 10(10)</option>
                                                                <option value="11">Tháng 11(11)</option>
                                                                <option value="12">Tháng 12(12)</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-6">
                                                        <select class="form-control" name="expiryYear"
                                                                th:value="${payment.expiryYear}">
                                                            <option disabled="disabled">-- Năm --</option>
                                                            <option value="2017">2017</option>
                                                            <option value="2018">2018</option>
                                                            <option value="19">2019</option>
                                                            <option value="20">2020</option>
                                                            <option value="21">2021</option>
                                                            <option value="22">2022</option>
                                                            <option value="23">2023</option>
                                                            <option value="23">2024</option>
                                                            <option value="23">2025</option>
                                                            <option value="23">2026</option>
                                                            <option value="23">2027</option>
                                                            <option value="23">2028</option>
                                                            <option value="23">2029</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <div class="form-group">
                                                <label for="cardCVC">CV code</label>
                                                <input id="cardCVC" type="number" class="form-control" name="cvc"
                                                       placeholder="CVC" th:name="cvc"
                                                       th:value="${payment.cvc}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Billing Addresses-->
                                    <div class="checkbox">
                                        <label>
                                            <input id="theSameAsShippingAddress" type="checkbox"
                                                   name="billingSameAsShipping" value="true"/> Sử dụng địa chỉ giao hàng
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <label for="billingName">* Tên</label>
                                        <input type="text" class="form-control billingAddress" id="billingName"
                                               placeholder="Người nhận hàng" th:name="billingAddressName"
                                               required="required" th:value="${billingAddress.billingAddressName}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="billingAddress">* Địa chỉ</label>
                                        <input type="text" class="form-control billingAddress" id="billingAddress"
                                               placeholder="Số nhà" th:name="billingAddressStreet1"
                                               required="required" th:value="${billingAddress.billingAddressStreet1}"/>
                                        <input type="text" class="form-control billingAddress"
                                               placeholder="Đường" th:name="billingAddressStreet2"
                                               th:value="${billingAddress.billingAddressStreet2}"/>
                                    </div>

                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="billingCity">* Thành phố</label>
                                                <input type="text" class="form-control billingAddress" id="billingCity"
                                                       placeholder="Thành phố" th:name="billingAddressCity"
                                                       required="required"
                                                       th:value="${billingAddress.billingAddressCity}"/>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="billingState">* Tỉnh</label>
                                                <select id="billingState" class="form-control billingAddress"
                                                        th:name="billingAddressState"
                                                        th:value="${billingAddress.billingAddressState}"
                                                        required="required">
                                                    <option value="" disabled="disabled">Làm ơn chọn 1 lựa chọn 
                                                    </option>
                                                    <option th:each="state : ${stateList}" th:text="${state}"
                                                            th:selected="(${billingAddress.billingAddressState}==${state})"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="billingZipcode">* Mã vùng</label>
                                                <input type="text" class="form-control billingAddress" id="billingZipcode"
                                                       placeholder="Mã vùng" th:name="billingAddressZipcode"
                                                       required="required"
                                                       th:value="${billingAddress.billingAddressZipcode}"/>
                                            </div>
                                        </div>
                                    </div>

                                    <a data-toggle="collapse" data-parent="#accordion"
                                       class="btn btn-warning float-right" href="#reviewItems">Tiếp</a>
                                </div>
                            </div>
                        </div>

                        <!--3. Review Item and Shipping-->
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <a data-toggle="collapse" data-parent="@accordion" href="#reviewItems">
                                        3. Xem lại các mặt hàng và vận chuyển
                                    </a>
                                </h4>
                            </div>
                            <div id="reviewItems" class="collapse">
                                <div class="card-body">
                                    <h4>Chọn phương thức vận chuyển của bạn: </h4>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="shippingMethod" value="groundShipping"
                                                   checked="checked"/>
                                            Vận chuyển đường bộ
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="shippingMethod" value="premiumShipping"/>
                                          Giao hàng cao cấp
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-8"><h4>Sản phẩm</h4></div>
                                        <div class="col-2"><h4>Giá</h4></div>
                                        <div class="col-2"><h4>Số lượng</h4></div>
                                    </div>

                                    <!--display products in cart-->
                                    <div class="row" th:each="cartItem : ${cartItemList}">
                                        <hr/>
                                        <div class="col-2">
                                            <a th:href="@{/bookDetail(id=${cartItem.book.id})}">
                                                <img class="img-fluid shelf"
                                                     th:src="@{https://bookstorenhom1.herokuapp.com/image/book/}+${cartItem.book.id}+'.png'"
                                                     style="width: 70px;"/>
                                            </a>
                                        </div>
                                        <div class="form-group col-6">
                                            <div style="margin-left: 50px;">
                                                <a th:href="@{/bookDetail?id=}+${cartItem.book.id}"><h4
                                                        th:text="${cartItem.book.title}"></h4></a>
                                                <p th:if="${cartItem.book.inStockNumber&gt;10}" style="color: green;">In
                                                    Stock</p>
                                                <p th:if="${cartItem.book.inStockNumber&lt;10} and ${cartItem.book.inStockNumber&gt;0}"
                                                   style="color: green;">Chỉ <span
                                                        th:text="${cartItem.book.inStockNumber}"></span> Còn lại</p>
                                                <p th:if="${cartItem.book.inStockNumber==0}" style="color: darkred;">
                                                    Sản phẩm không phù hợp</p>
                                                <a th:href="@{/shoppingCart/removeItem?id=}+${cartItem.id}">Xóa</a>
                                            </div>
                                        </div>

                                        <div class="form-group col-2">
                                            <h5 style="color: #db3208; font-size: large;">VNĐ
                                                <span th:text="${cartItem.book.ourPrice}"
                                                      th:style="${cartItem.book.inStockNumber}==0? 'text-decoration : line-through' : ''"></span>
                                            </h5>
                                        </div>

                                        <div class="form-group col-2">
                                            <h5 style="font-size: large;" th:text="${cartItem.qty}"></h5>
                                        </div>
                                    </div>

                                    <hr/>
                                    <h4 class="col-12 text-right"><strong style="font-size: large;">Tổng đơn đặt hàng (<span
                                            th:text="${#lists.size(cartItemList)}"></span> mặt hàng):</strong><span
                                            style="color: #db3208; font-size: large;">VNĐ<span
                                            th:text="${shoppingCart.grandTotal}"></span></span>
                                    </h4>
                                    <br/><br/>
                                       <button type="submit" class="btn btn-warning btn-block">Đơn hàng của bạn</button>
                                       <p style="font-size: smaller;">Bằng cách đặt hàng của bạn, bạn đồng ý với Royal Book Store <a href="#">riêng tư</a>
                                       thông báo và<a href="#">điều kiện</a> của người dùng</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div><!--end of container-->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="common/header :: footer"/>

<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>
