<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header"/>

<body>
<div class="page-top" style="width: 100%; height: 20px; background-color: #f46b42;"></div>
<!-- Static navbar -->
<div th:replace="common/header :: navbar"/>

<div class="container">
    <div class="row">
        <div class="col-8">
            <h2 class="section-headline"><span>FAQ</span></h2>
        </div>
        <div class="col-4">
            <img src="/image/logo.png" class="img-fluid"/>
        </div>
        <hr style="width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -10%;"/>
    </div>

    <img src="/image/wood.png" class="img-fluid" style="margin-top: -5%;"/>

    <div class="row" sytle="margin-top: 10px;">
        <div class="col-10 offset-2">
            <h3>Mua sắm</h3>
            <hr/>
            <h4 class="question">Q: Tôi phải làm thế nào để đặt hàng?</h4>
            <p>A:&nbsp;Trước tiên, bạn cần thiết lập một tài khoản, sau khi tài khoản đó được tạo, bạn đã sẵn sàng để đặt hàng.</p>
            <h4 class="question">Q: Làm cách nào để thiết lập một tài khoản?&nbsp;</h4>
            <p>A:Nhấp vào nút đăng nhập ở góc trên bên phải của trang chính và sau đó nhấp vào tạo
                 tài khoản.</p>
<h4 class = "question"> H: Mất bao lâu để xử lý và giao đơn đặt hàng? </h4>
            <p> A: Vui lòng đợi 1 - 3 ngày làm việc (Thứ Hai-Thứ Sáu) để xử lý đơn đặt hàng.
            </p>
            <h4 class = "question"> H: Tất cả các mặt hàng có được đảm bảo trong kho không? </h4>
            <p> A: Chúng tôi cố gắng cập nhật trang web thường xuyên nhất có thể để phản ánh tình trạng hết hàng. Tuy nhiên,
                khả năng đặt một mặt hàng không đảm bảo rằng nó sẽ có trong kho khi đơn đặt hàng của bạn được xử lý. Bạn
                sẽ được thông báo nếu đơn đặt hàng không có sẵn.
            </p>
            <h4 class = "question"> Hỏi: Tại sao tôi không thể chọn kích thước và màu sắc mà tôi muốn? </h4>
            <p> Đ:&nbsp; Nếu bạn không thể chọn kích thước hoặc màu sắc cụ thể, điều đó thường có nghĩa là mặt hàng đó đã hết
                cổ phần. Hãy thử kiểm tra lại sau 2 - 3 tuần để xem kích thước hoặc màu sắc của bạn có sẵn hay không.
            </p>
            <h4 class = "question"> Hỏi: Tôi không thể tìm thấy một mặt hàng cụ thể trên trang web, có những mặt hàng có sẵn không được liệt kê trên
                trang web? </h4>
            <p> Đ:&nbsp; Các mục hiện được hiển thị trên trang web của chúng tôi đại diện cho những gì hiện có sẵn để xem
                và đặt hàng trực tuyến. Có nhiều lựa chọn hàng hóa hơn có sẵn tại UVM Bookstore và
                Cửa hàng Catamount. Vui lòng ghé thăm các cửa hàng của chúng tôi khi bạn ở khu vực Burlington.
            </p>
            <h4 class = "question"> Hỏi: Làm cách nào để kiểm tra trạng thái đơn đặt hàng của tôi? </h4>
            <p> A: Nếu bạn đã đăng ký một tài khoản, hãy nhấp vào "Tài khoản của tôi" và đăng nhập bằng
                địa chỉ email và mật khẩu. Bạn có thể xem trạng thái của bất kỳ đơn đặt hàng nào đã được thực hiện. Bạn cũng có thể liên hệ với chúng tôi theo số&nbsp; 1.800.331.7305 với tên, số đơn đặt hàng và yêu cầu
                tình trạng đơn đặt hàng của bạn. Giờ làm việc của chúng tôi là Thứ Hai - Thứ Sáu, 8 giờ sáng - 5 giờ chiều
            </p>
            <h4 class = "question"> H: Làm cách nào để hủy hoặc thay đổi đơn đặt hàng của tôi? </h4>
            <p> Đ:&nbsp; Bạn có thể hủy đơn đặt hàng của mình hoặc thay đổi đơn đặt hàng bằng cách liên hệ với chúng tôi theo số 0123456789 ngay khi
                có thể sau khi đơn đặt hàng của bạn được đặt với tên, số đơn đặt hàng và yêu cầu hủy bỏ hoặc
                mô tả về thay đổi được yêu cầu. Giờ hành chính của chúng tôi là Thứ Hai, Thứ Sáu, 8 giờ sáng 4 giờ 30 chiều. Chúng tôi sẽ làm hết sức
                để hủy hoặc sửa đổi đơn đặt hàng của bạn, nhưng chúng tôi sẽ không thể hoàn tất việc hủy bỏ nếu đơn đặt hàng của bạn có
                đã được xử lý hoặc vận chuyển.
            </p>

            <h3> Giao hàng&nbsp; </h3>
            <hr />
            <p> Nhà sách Royal Book Store tự hào cung cấp cho bạn mức phí vận chuyển cạnh tranh. Tất cả các lô hàng của chúng tôi là
                được đóng gói chuyên nghiệp để đảm bảo an toàn cho hàng hóa của bạn trên đường vận chuyển. </p>
            <h4 class = "question"> Hỏi: Phí vận chuyển cho các đơn đặt hàng là bao nhiêu? </h4>
            <p> A: Phí vận chuyển phụ thuộc vào tổng số lượng hàng hóa đã đặt cũng như phí vận chuyển
                phương pháp đã chọn. </p>
            <h4 class = "question"> Hỏi. Phương thức vận chuyển của bạn là gì? </h4>
            <p> A: Chúng tôi gửi hàng qua ViettelPost, Bưu điện,...
            </p>
            <h4 class = "question"> Hỏi: Khi nào tôi sẽ nhận được đơn đặt hàng của mình? </h4>
            <p> A: Trung bình, đơn hàng của bạn sẽ được nhận sau 7 - 10 ngày làm việc.&nbsp; </p>
        </div>
    </div>
</div><!--end of container-->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="common/header :: footer"/>

<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>
