<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header"/>

<body>
<div class="page-top" style="width: 100%; height: 20px; background-color: #f46b42;"></div>
<!-- Static navbar -->
<div th:replace="common/header :: navbar"/>

<div class="container">
    <div class="row">
        <div class="col-8">
            <h2 class="section-headline"><span>Tài khoản</span></h2>
        </div>
        <div class="col-4">
            <img src="/image/logo.png" class="img-fluid"/>
        </div>
        <hr style="width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -10%;"/>
    </div>

    <img src="/image/wood.png" class="img-fluid" style="margin-top: -5%;"/>

    <div class="row" style="margin-top: 60px;">
        <div class="col-9 offset-3">
            <!--Nav tabs-->
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link" th:classappend="${classActiveNewAccount}? 'active'"
                                        href="#tab-1" data-toggle="tab"><span
                        style="color: red;">Đăng ký</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" th:classappend="${classActiveLogin}? 'active'" href="#tab-2"
                                        data-toggle="tab"><span style="color: red;">Đăng nhập</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" th:classappend="${classActiveForgetPassword}? 'active'"
                                        href="#tab-3" data-toggle="tab"><span style="color: red;">Quên mật khẩu</span></a>
                </li>
            </ul>

            <!--Tab panels-->
            <div class="tab-content">
                <!--create new user pane-->
                <div class="tab-pane fade" id="tab-1" th:classappend="${classActiveNewAccount}? 'show active'">
                    <div class="panel-group">
                        <div class="card" style="border: none;">
                            <div class="card-body" style="background-color: #e2e3e5; margin-top: 20px;">
                                <div class="alert alert-info" th:if="${emailSent}">
                                    Một email đã được gửi đến địa chỉ email bạn vừa đăng ký. Vui lòng xác thực địa chỉ email của bạn và cập nhật thông tin mật khẩu của bạn.
                                </div>
                                <form th:action="@{/newUser}" method="post">
                                    <div class="form-group">
                                        <label for="newUsername">* Tên đăng nhập:</label>&nbsp;<span style="color: red;" th:if="${usernameExists}">Tên tài khoản đã tồn tại vui lòng chọn 1 tên tài khoản khác</span>
                                        <input required="required" type="text" class="form-control" id="newUsername"
                                               name="username"/>
                                        <p style="color: #828282;">Nhập tên tài khoản của bạn ở đây.</p>
                                    </div>

                                    <div class="form-group">
                                        <label for="email">* Địa chỉ email:</label><span style="color: red;" th:if="${emailExists}">Email đã được sử dụng vui lòng chọn email khác</span>
                                        <input required="required" type="text" class="form-control" id="email"
                                               name="email"/>
                                        <p style="color: #828282;">Một địa chỉ email hợp lệ. Tất cả các email từ hệ thống
                                             sẽ được gửi đến địa chỉ này. Địa chỉ email không được công khai và sẽ
                                             chỉ được sử dụng nếu bạn muốn nhận mật khẩu mới hoặc muốn nhận
                                             thông báo nhất định.</p>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Đăng ký</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!--log in-->
                <div class="tab-pane fade" id="tab-2" th:classappend="${classActiveLogin}? 'show active'">
                    <div class="panel-group">
                        <div class="card" style="border: none;">
                            <div class="card-body" style="background-color: #e2e3e5; margin-top: 20px;">
                                <div th:if="${param.error != null}" style="color: red;">Tên đăng nhập hoặc mật khẩu không chính xác.</div>
                                <form th:action="@{/login}" method="post">
                                    <div class="form-group">
                                        <label for="username">* Tên đăng nhập:</label>
                                        <input required="required" type="text" class="form-control" id="username"
                                               name="username"/>
                                        <p style="color: #828282;">Điền tên đăng nhập tại đây</p>
                                    </div>

                                    <div class="form-group">
                                        <label for="password">* Mật khẩu:</label>
                                        <input required="required" type="password" class="form-control" id="password"
                                               name="password"/>
                                        <p style="color: #828282;">Điền mật khẩu tại đây</p>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!--forget password-->
                <div class="tab-pane fade" id="tab-3" th:classappend="${classActiveForgetPassword}? 'show active'">
                    <div class="panel-group">
                        <div class="card" style="border: none;">
                            <div class="card-body" style="background-color: #e2e3e5; margin-top: 20px;">
                                <div th:if="${emailNotExist}" class="alert alert-danger">Email không tồn tại</div>
                                <div th:if="${forgetPasswordEmailSent}" class="alert alert-success">Gửi Email</div>
                                <form th:action="@{/forgetPassword}" method="post">
                                    <div class="form-group">
                                        <label for="recoverEmail">* Email của bạn:</label>
                                        <input required="required" type="text" class="form-control" id="recoverEmail"
                                               name="email"/>
                                        <p style="color: #828282;">Điền Email tại đây</p>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Gửi</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--end of container-->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="common/header :: footer"/>

<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>
